#maintable {
	border		: 1px dotted;
        padding		: 10px;
}

img.gravatar {
	margin-left	: -20px;
}

.topichead {
	margin		: 1.25em 0 0;
	padding		: 0px 0px 4px;
	font            : bold 200%/1.4em "Trebuchet MS",Trebuchet, Tahoma, Verdana, Arial, Sans-Serif;
	text-decoration	: none;
}

.topictext {
        text-align      : justify;
        padding-left	: 10px;
 	display		: block;
        font            : italic 140%/1.2em georgia, times, serif;
}

.topictext blockquote, cite {
	margin-left	: 30px;
}

.topiclinx {
	margin		: 1.5em 0 0.75em;
	font		: 78%/1.4em "Trebuchet MS",Trebuchet, Tahoma, Verdana, Arial, Sans-Serif;
	text-transform	: uppercase;
	letter-spacing	: 0.1em;
        padding-left    : 10px;
        padding-right   : 10px;
}

.topickeys {
	margin		: 1.5em 0 0.75em;
	font		: 78%/1.4em "Trebuchet MS",Trebuchet, Tahoma, Verdana, Arial, Sans-Serif;
	text-transform	: uppercase;
	letter-spacing	: 0.1em;
        padding-left    : 10px;
}

.topictime {
	margin		: 1.5em 0 0.75em;
	font		: normal 78%/1.4em "Trebuchet MS",Trebuchet, Tahoma, Verdana, Arial, Sans-Serif;
	text-transform	: uppercase;
	letter-spacing	: 0.2em;
}

.parthead {
	margin		: 1.5em 0 0.75em;
	font		: bold 78%/1.4em "Trebuchet MS", Trebuchet, Tahoma, Verdana, Arial, Sans-Serif;
	text-transform	: uppercase;
	letter-spacing	: 0.2em;
}

.maintance {
	margin		: 1.5em 0 0.75em;
	font		: normal 78%/1.4em "Trebuchet MS", Trebuchet, Tahoma, Verdana, Arial, Sans-Serif;
	text-transform	: uppercase;
	letter-spacing	: 0.1em;
}

#blog-title {
	margin		: 1.5em 0 0.75em;
	padding		: 10px 0px 0px 0px;
	font            : bold 300%/1.2em "Trebuchet MS", Trebuchet, Tahoma, Verdana, Arial, Sans-Serif;
	letter-spacing	: 0.1em;
	text-decoration	: underline;
	text-transform	: uppercase;
}

td#text {
        margin          : 0px;
        padding-top     : 5px;
        padding-bottom  : 5px;
        padding-left    : 20px;
        padding-right   : 20px;
        text-align      : justify;
}

td#header, td#footer {
        margin          : 0px;
        padding-top     : 0px;
        padding-bottom  : 0px;
        padding-left    : 0px;
        padding-right   : 0px;
}

td#addons {
        margin          : 0px;
        padding-top     : 0px;
        padding-bottom  : 0px;
        padding-left    : 0px;
        padding-right   : 0px;
}

td#category {
	display		: none;
}


.border {
        border          : 1px dashed #AAAAAA;
}

.h-border {
        border-top      : 1px dashed #AAAAAA;
        border-bottom   : 1px dashed #AAAAAA;
}

.t-border {
        border-top      : 1px dashed #AAAAAA;
}

.b-border {
        border-bottom   : 1px dashed #AAAAAA;
}

.v-border {
        border-left     : 1px dashed #AAAAAA;
        border-right    : 1px dashed #AAAAAA;
}

.rb-border {
        border-right    : 1px dashed #AAAAAA;
        border-bottom   : 1px dashed #AAAAAA;
}

.r-border {
        border-right    : 1px dashed #AAAAAA;
}


.l-border {
        border-left     : 1px dashed #AAAAAA;
}
